html {
    background-color: $background;
    background-image: url(static("hideout.svg"));
    background-attachment: fixed;
    background-size: 20px;
    height: 100vh;
}

#notifications,
#viewport {
    top: 0;
    width: 100%;
}
#backdrop {
    position: relative;
}
#notifications {
    max-height: 50%;
    position: relative;
    z-index: 10;
}
#viewport {
    position: absolute;
}
#main {
    margin-bottom: 3.25rem; // offsets bottom navbar's height
}
