{% extends "registration/viewport.html" %}

{% block container %}
<div class="card">
    <div class="card-content content has-text-centered">
        <p>You are <strong>logged out</strong>.</p>
        <a href="{% url 'mailauth:login' %}" up-target="#registration" up-transition="move-left"
            class="button is-primary is-outlined">Log me back in</a>
    </div>
</div>
{% endblock %}
