{% extends "registration/viewport.html" %}

{% block container %}
<div class="card">
  <div class="card-content content has-text-justified">
    <p>
      Check your email for a message from Joy Jar containing a login link.
      The login link is only valid for <strong>15 minutes</strong>.
    </p>
  </div>
</div>
{% endblock %}
