{% extends "registration/viewport.html" %}

{% block viewport %}
{% url 'mailauth:login' as login_url %}
<div class="card">
  <div class="card-header">
    <div class="card-header-title has-background-primary">
      <h1 class="title has-text-white">
        {% if login_url in request.path %}Log in{% else %}Sign up{% endif %}
      </h1>
    </div>
  </div>
  <div class="card-content">
    <form method="post" up-target="#viewport">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="field">
        <label for="{{ form.email.id_for_label }}" class="label">
          {{ form.email.label }}
        </label>
        <div class="control">
          <input id="id_{{ form.email.html_name }}" name="{{ form.email.html_name }}" class="input is-primary"
            type="email">
        </div>
        {% if form.email.help_text %}
        <p class="help">{{ form.email.help_text }}</p>
        {% endif %}
        {% if form.email.errors %}
        <p class="help is-danger">
          {{ form.email.errors }}
        </p>
        {% endif %}
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary is-outlined">
            {% if login_url in request.path %}Email me the login link{% else %}Sign me up{% endif %}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
