{% extends "registration/viewport.html" %}

{% block viewport %}
{% include 'registration/_login_form.html' %}
<hr>
<article class="message is-info">
  <div class="message-header">No password</div>
  <div class="message-body content">
    <p>
      Instead of creating yet another password to remember, whenever you
      <a href="{% url 'mailauth:login' %}">log in</a>, we'll email you a login
      link.
    </p>
    <p>To sign up, we just need to confirm your email address first.</p>
  </div>
</article>
{% endblock %}
