{% extends "layout.html" %}

{% block viewport %}
<div class="container">
  <div class="columns is-centered">
    <div class="column is-one-third">
      {% block container %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
