{% load humanize %}

{% if object.image %}
  <div class="card-image">
    <figure class="image">
      <img src="{{ object.image.url }}">
    </figure>
  </div>
{% endif %}
<div class="card-content">
  <div class="content">
    <div>{{ object.description|linebreaks }}</div>
    <hr>
    <div class="is-italic">{{ object.created_at|naturaltime }}</div>
  </div>
</div>
