{% extends "core/viewport.html" %}

{% block bottom_nav_buttons %}
<li>
  <a href="{% url 'jar' %}" up-cache="false" up-target="#main" up-transition="move-to-bottom/move-from-bottom">
    Get random Joy
  </a>
</li>
{% endblock %}
