{% extends "core/joy_nav.html" %}

{% block container %}
<div class="card">
  {% include "core/_joy_card_content.html" %}
  <div class="card-footer">
    <a href="{% url 'update-joy' object.id %}" up-dash="#main" up-transition="cross-fade"
      class="card-footer-item button is-success is-outlined">Update</a>
    <a href="{% url 'delete-joy' object.id %}" up-dash="#main"
      class="card-footer-item button is-danger is-outlined">Remove</a>
  </div>
</div>
{% endblock %}
