{% extends "core/joy_nav.html" %}

{% block container %}
{% url 'create-joy' as create_joy_url %}
<form method="post" up-target="#main" up-transition="cross-fade">
  {% csrf_token %}
  <div class="card">
    <div class="card-content">
      {{ form.non_field_errors }}
      {% with has_image=form.image.value %}
        {% if has_image %}
          <div class="field">
            <div class="control">
              <label class="checkbox">
                {{ form.remove_image }} Remove image
              </label>
            </div>
          </div>
        {% endif %}
        <div
          class="field file-upload"
          {% if has_image %}up-hide-for=":checked"{% endif %}
        >
          <div class="control">
            <div class="file has-name is-fullwidth is-small is-boxed {% if has_image %}is-danger{% else %}is-primary{% endif %}">
              <label class="file-label">
                {{ form.image }}
                <span class="file-cta has-text-centered">
                  <span class="file-label">
                    {% if has_image %}Replace{% else %}Add an{% endif %} image
                  </span>
                </span>
                <span class="file-name has-text-centered">
                  {% if has_image %}
                    <figure class="image">
                      <img src="{{ object.image.url }}">
                    </figure>
                  {% else %}
                    No image
                  {% endif %}
                </span>
              </label>
            </div>
          </div>
          {% if form.image.help_text %}
            <p class="help">{{ form.image.help_text }}</p>
          {% endif %}
          {% if form.image.errors %}
            <p class="help is-danger">
              {{ form.image.errors }}
            </p>
          {% endif %}
        </div>
      {% endwith %}
      <div class="field">
        <div class="control">
          {{ form.description }}
        </div>
        {% if form.description.help_text %}
          <p class="help">{{ form.description.help_text }}</p>
        {% endif %}
        {% if form.description.errors %}
          <p class="help is-danger">
            {{ form.description.errors }}
          </p>
        {% endif %}
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="card-footer-item button is-success">
        {% if create_joy_url in request.path %}Add{% else %}Save{% endif %}
      </button>
    </div>
  </div>
</form>
{% endblock %}
