{% extends "core/joy_nav.html" %}

{% block container %}
<form method="post" up-target="#main" up-transition="move-up">
  {% csrf_token %}
  <div class="card">
    {% include "core/_joy_card_content.html" %}
    <div class="card-footer">
      <button type="submit" class="card-footer-item button is-danger">Confirm Remove</button>
    </div>
  </div>
</form>
{% endblock %}
