{% extends "core/joy_nav.html" %}

{% load humanize %}

{% block container %}
<div class="tile is-ancestor">
  {% for object in object_list %}
  {% if forloop.counter0|divisibleby:3 %}
</div>
<div class="tile is-ancestor">
  {% endif %}
  <div class="tile is-parent">
    <div class="tile is-child card">
      <article class="media">
        <div class="media-left">
          <figure class="image thumbnail is-64x64">
            {% if object.thumbnail %}
              <img src="{{ object.thumbnail.url }}">
            {% endif %}
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>{{ object.description|truncatechars:25 }}</p>
            <div class="is-italic">{{ object.created_at|naturaltime }}</div>
          </div>
        </div>
        <div class="media-right">
          <a href="{% url 'detail-joy' object.id %}" up-dash="#main" up-transition="move-to-bottom/move-from-bottom"
            class="button is-small is-success is-outlined">Edit</a>
        </div>
      </article>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
