{% extends "core/viewport.html" %}

{% block bottom_nav_buttons %}
<li>
  <a href="{% url 'list-joys' %}" up-dash="#main" up-transition="move-to-bottom/move-from-bottom">
    List all Joys
  </a>
</li>
<li>
  <a href="{% url 'create-joy' %}" up-dash="#main" up-transition="move-down">
    Add more Joy
  </a>
</li>
{% endblock %}
