{% extends "core/jar_nav.html" %}

{% block container %}
<div class="card">
  {% include "core/_joy_card_content.html" %}
  <div class="card-footer">
    <a href="{% url 'detail-joy' object.id %}" up-dash="#viewport"
      class="card-footer-item button is-success is-outlined">Edit</a>
  </div>
</div>
{% endblock %}
