{% extends "layout.html" %}

{% block viewport %}
<div id="main" class="container">
  {% block container %}{% endblock %}
</div>
<nav id="bottom-nav" up-fixed="bottom" class="navbar is-fixed-bottom up-nav">
  <div class="navbar-menu is-active">
    <div class="navbar-item is-expanded">
      <div class="tabs is-toggle is-fullwidth">
        <ul>
          {% block bottom_nav_buttons %}{% endblock %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endblock %}
