{% load compress %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Joy Jar{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://unpkg.com/unpoly@0.61.1/dist/unpoly.min.css"
    integrity="sha384-Au6LjS9fxDpwn3+26YmukmOumZUmryd8ONenkVIoH4eEPH1tACqLsVfqz9tBrvQy" crossorigin="anonymous">

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'main.scss' %}">
  {% endcompress %}

  <script src="https://unpkg.com/unpoly@0.61.1/dist/unpoly.min.js"
    integrity="sha384-ltoWj6dcj5Xs3SeUWjur2yLXen33knb/S/jjBWlTlzsT5k5WABtMd6ccN076dYOB"
    crossorigin="anonymous"></script>
  <script>
    up.on("click", ".navbar-burger", function (event, element) {
      const targetId = element.dataset.target;
      const target = document.getElementById(targetId);
      up.element.toggleClass(element, "is-active");
      up.element.toggleClass(target, "is-active");
    });

    up.radio.config.hungryTransition = "move-to-top/move-from-top"
    up.on("click", ".notification>button.delete", function (event, element) {
      const notification = element.parentElement;
      up.destroy(notification, { animation: "move-to-top" });
    });

    up.on("click", "button", function (event, element) {
      up.on("up:proxy:slow", () => {
        element.classList.add("is-loading")
      });
    });

    up.on("change", ".file.has-name input[type=file]", function (event, element) {
      if (element.files.length > 0) {
        const fileName = document.querySelector(".file.has-name .file-name");
        fileName.textContent = "Image to upload: " + element.files[0].name;
      }
    });
  </script>
</head>

<body class="has-navbar-fixed-top">
  <!--[if IE]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please
      <a href="https://browsehappy.com/">upgrade your browser</a> to improve
      your experience and security.
    </p>
  <![endif]-->
  <nav up-fixed="top" class="navbar is-fixed-top is-primary up-nav">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'jar' %}" up-cache="false" up-target="#viewport" up-fallback="#backdrop"
        up-transition="cross-fade">Joy
        Jar</a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navigation">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navigation" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'whats-new' %}" up-dash>What's New</a>
        {% if user.is_authenticated %}
          <a class="navbar-item" href="{% url 'list-joys' %}" up-dash>My Joys</a>
          <a class="navbar-item" href="{% url 'create-joy' %}" up-dash>Add more Joy</a>
          <a class="navbar-item" href="mailto:iam@zachgarwood.com?subject=Feedback%20on%20Joy%20Jar">Feedback</a>
        {% endif %}
        <div class="navbar-item">
          <div class="buttons">
            {% if user.is_authenticated %}
              <a href="{% url 'mailauth:logout' %}" up-follow class="button is-primary is-inverted">Log out</a>
            {% else %}
              <a href="{% url 'signup' %}" up-follow class="button is-success">Sign up</a>
              <a href="{% url 'mailauth:login' %}" up-follow class="button is-primary">Log in</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div id="backdrop">
    {% block backdrop %}
    <section id="notifications" up-hungry up-fixed="top">
      {% for message in messages %}
      <div class="notification {{ message.tags }} has-text-centered">
        <button class="delete"></button>
        {{ message }}
      </div>
      {% endfor %}
    </section>

    <section id="viewport" up-viewport class="section">
      {% block viewport %}{% endblock %}
    </section>
    {% endblock %}
  </div>
</body>

</html>
