{% extends "layout.html" %}

{% block backdrop %}
<section class="hero is-primary is-medium has-text-centered has-text-weight-bold">
  <div class="hero-head content">
    <p class="title">Have a great day!</p>
  </div>
  <div class="hero-body content has-text-justified-mobile">
    <p class="box">
      You've looked through all of the joyous memories in your Joy Jar.
      Hopefully there's a smile on your face!
    </p>
  </div>
</section>
<section class="section has-text-centered">
  <a href="{% url 'create-joy' %}" up-dash class="button is-primary">
    Add more Joy to the Jar
  </a>
</section>
{% endblock %}
