{% extends "layout.html" %}

{% block backdrop %}
<section class="hero is-primary is-fullheight-with-navbar is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Save your smiles for a rainy day</h1>
      <a href="{% url 'signup' %}" up-follow class="button is-primary is-inverted">
        Sign up
      </a>
      <hr>
      <p class="has-text-justified-mobile">
        Make note of the things that bring you Joy &mdash; an inside joke, a
        fond memory, a secret dream &mdash; then, whenever you're in need of a
        pick-me-up, grab a Joy or two from your Joy Jar.
      </p>
    </div>
  </div>
</section>
{% endblock %}
