{% extends "layout.html" %}

{% block backdrop %}
<section class="hero is-primary is-medium has-text-centered has-text-weight-bold">
  <div class="hero-head content">
    <p class="title">
      {% if user.joys.count == 0 %}
      Adding your first Joy&hellip;
      {% else %}
      Adding more Joy&hellip;
      {% endif %}
    </p>
  </div>
  <div class="hero-body content">
    <p class="box is-primary has-text-justified-mobile">
      Your Joy Jar is meant to be a repository for your happy thoughts.
      Whenever you think of something that makes you smile. Take a moment to
      jot it down here.
    </p>
  </div>
</section>
<section class="section has-text-centered">
  <a href="{% url 'create-joy' %}" up-follow class="button is-primary">
    {% if user.joys.count == 0 %}
    Add my first Joy to the Jar
    {% else %}
    Add more Joy to the Jar
    {% endif %}
  </a>
</section>
{% endblock %}
