{% extends "layout.html" %}

{% block viewport %}
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile box has-text-centered">
          <p class="title">What's New</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child card">
          <header class="card-header-title">
            <p class="title">Add images to your Joys</p>
          </header>
          <div class="card-content">
            <div class="content">
              <p>August 1, 2020</p>
              <p>
                You can now upload an image and save it to a Joy. When adding a
                new Joy, use the
                <button class="button is-small is-primary">Add an image</button>
                button to save an image along with your Joy.
              </p>
              <p>
                If you're updating a Joy with an image, you can replace the image
                with a new one by using the
                <button class="button is-small is-danger">Replace image</button>
                button. Or you can remove it entirely by checking the
                <label><input type="checkbox">&nbsp;Remove image</label>
                checkbox.
              </p>
              <p>
                Give it a try. Click the button below to add more Joys with
                images.
              </p>
            </div>
          </div>
          <div class="card-footer">
            <a class="card-footer-item button is-success is-outlined"
              href="{% url 'create-joy' %}"
              up-dash="#viewport"
              up-transition="cross-fade"
            >Add more Joy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
